{% extends 'base.html' %}

{% block content %}
     <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">From</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Gist</th>
      <th scope="col">Assigned To</th>
      <th scope="col">Remarks</th>
      <th scope="col">CutOff Date</th>
      <th scope="col">Created</th>
      <th scope="col">Update</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for object in object_list %}

    <tr>
      <th scope="row">{{ object.pk }}</th>
      <td>{{ object.sender.short_name }}</td>
      <td>{{ object.c_name }}</td>
      <td>{{ object.c_address }}</td>
      <td>{{ object.gist }}</td>
      <td>{{ object.assignee }}</td>
      <td>{{ object.remarks }}</td>
      <td>{{ object.cutoff_date|date }}</td>
      <td>{{ object.created|date }}</td>
      <td>{{ object.updated|date }}</td>
      <td>
             <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-warning" href="{% url 'tracks:update' object.pk %}">Update</a>
                <a class="btn btn-secondary" href="{{ object.get_absolute_url }}">Detail</a>
            </div>
      </td>
    </tr>
    {% endfor %}


  </tbody>
</table>

{% endblock %}
