{% extends 'base.html' %}

{% block content %}
<p>{{ object.sender.name }}</p>
    <P><strong> Complainant's Name:</strong> {{ object.c_name|title }}</P>
    <P><strong> Track Started:</strong>{{ object.created }}</P>
    <P><strong> Last Updated:</strong>{{ object.updated }}</P>
    <p><strong> Cutoff Date:</strong>{{ object.cutoff_date|date }}</p>
    <p class="bg-warning"><strong> Action required:</strong><br>{{ object.action_required|linenumbers|linebreaksbr }}</p>
    <p class="bg-info"><strong> Action taken:</strong><br>{{ object.action_taken }}</p>

    <form action="." method="POST">
    {% csrf_token %}
    {{ form }}
        <br>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
    <hr>
    <p><a class="btn btn-outline-secondary" href="{% url 'tracks:list' %}">Cancel</a></p>
{% endblock %}
