{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1 class="display-1">Dashboard</h1>
    <p>Please keep track of compliants marked to you</p>
{#    {% with total_images_created=request.user.images_created.count %}#}
{#        <p>Welcome to your dashboard. You have bookmarked {{ total_images_created }} image{{ total_images_created|pluralize }}.</p>#}
{#    {% endwith %}#}
    

    {% if user.is_authenticated %}
        <ul class="list-group">
          <li class="list-group-item">
              <a href="{% url 'accounts:user-dashboard' %}">Open Tracks</a>
          </li>
          <li class="list-group-item">
              <a href="{% url 'accounts:overdue' %}">Overdue Tracks</a>
          </li>

        </ul>
               <p>You may <a href="{% url 'accounts:logout' %}">Logout</a></p>
    {% else %}
         <p>Please <a href="{% url 'accounts:login' %}">Login</a></p>
    {% endif %}

{% endblock %}
