{% load nav_active %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'accounts:dashboard' %}">Dashboard</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% nav_active request 'list' %}">
        <a class="nav-link" href="{% url 'accounts:user-dashboard' %}">User Tracks <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item {% nav_active request 'overdue' %}">
        <a class="nav-link" href="{% url 'accounts:overdue' %}">Overdue</a>
      </li>


        {% if user.is_authenticated %}
            <li class="nav-item {% nav_active request 'logout' %}">
                <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item {% nav_active request 'login' %}">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
        {% endif %}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
